
@import "@fontsource/archivo/400.css";
@import "@fontsource/archivo/600.css";
@import "@fontsource/kameron/700.css";
@import "@fontsource/poppins/600.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @apply font-archivo;
}

@layer components {
    .main-header {
        @apply shadow-xl h-20 sm:h-auto bg-midnight text-white py-4 sm:py-8 flex-col items-center sticky top-0 sm:relative w-full z-50;
    }

    nav {
        @apply font-semibold font-archivo;
    }

    nav ul {
        @apply flex;
    }

    .flank-nav {
        @apply justify-around w-[640px];
    }

    .below-nav {
        @apply gap-x-12 gap-y-4 pt-8 px-8 flex-wrap items-center justify-center;
    }

    .floating-nav {
        @apply gap-x-12 gap-y-4 px-8 flex-wrap items-center justify-center;
    }

    .floating-header {
        @apply py-5 px-8 fixed bg-midnight z-50 w-full top-0 text-white;
    }

    .mobile-nav {
        @apply flex-col gap-y-4 pt-4 px-8 items-center justify-center;
    }

    .mobile-nav-drawer {
        @apply fixed top-20 pb-8 bg-midnight z-50 w-full text-white;
    }

    .button {
        @apply inline-block px-6 py-0 h-12 text-lg font-poppins font-semibold leading-[48px] w-fit;
        @apply cursor-default;
        @apply select-none;
        @apply hover:no-underline;
        @apply transition-colors enabled:hover:bg-white/25;
        appearance: button;
    }

    .button-brand {
        @apply bg-brand text-white transition-all;
        @apply enabled:hv:hover:bg-brand hv:hover:shadow-[0_0_0_4px_white];
        @apply enabled:active:bg-burnt active:translate-y-0.5 active:shadow-none;
    }

    .button-icon {
        @apply p-0 h-12 w-12 flex rounded-full justify-center items-center;
    }

    section.section {
        @apply odd:bg-midnight bg-storm text-white even:image-order-even;
        @apply flex flex-col py-12 px-12 justify-center items-center;
        @apply scroll-m-24
    }

    .section-image {
        @apply order-1 lg:order-none lg:w-1/2 shrink-0
    }

    .image-order-even .section-image {
        @apply order-1 lg:order-1;
    }
}